node_modules
**/node_modules
.git
.local
.env
.env.*
!.env.example
artifacts/instacollab
attached_assets
artifacts/mockup-sandbox
**/.tsbuildinfo
**/dist
!artifacts/api-server/dist
.DS_Store
*.log
.vercel
.cursor
