<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932871409657-eh5go2ji0cjhurjh8tllkpaj6hu7iajq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932871409657-eh5go2ji0cjhurjh8tllkpaj6hu7iajq</string>
	<key>API_KEY</key>
	<string>AIzaSyBtnaRj1CKU-Ynz0jU0FC08MQa9acLbb44</string>
	<key>GCM_SENDER_ID</key>
	<string>932871409657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unilive.uchatapp</string>
	<key>PROJECT_ID</key>
	<string>uchat-app-c1b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>uchat-app-c1b8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932871409657:ios:16884fb86be179f5347728</string>
	<key>DATABASE_URL</key>
	<string>https://uchat-app-c1b8e-default-rtdb.firebaseio.com</string>
</dict>
</plist>